* {
    margin: 0px;
    padding: 0px;
}

.main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    height: 620px;
    width: 100%;
}

.time>h1,
.time>span {
    font-family: monospace;
    font-size: 10em;
    padding: 5px;
    color: white;
}

.btn>button {
    background-color: transparent;
    color: red;
    font-family: monospace;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    border: 2px dashed white;
}

.btn>button:hover {
    color: green;
    border-radius: 10px;
}

.btn>button:visited {
    color: green;
    border-radius: 10px;
}

.btn>button:active {
    color: green;
    border-radius: 10px;
}

.btn>button:focus {
    color: green;
    border-radius: 10px;
}

.btn>button:link {
    color: green;
    border-radius: 10px;
}

@media screen and (max-width:430px) {
    .time>h1,
    .time>span {
        font-size: 5em;
    }
    .btn>button {
        font-size: 1em;
        margin: 2px;
    }
}